In [1]:
import pandas as pd
import utils
import io

In [2]:
df = pd.read_csv('Data/FanDuel-NFL-2021 ET-09 ET-12 ET-62415-players-list.csv')

In [3]:
df

,Id,Position,First Name,Nickname,Last Name,FPPG,Played,Salary,Game,Team,Opponent,Injury Indicator,Injury Details,Tier,Unnamed: 14,Unnamed: 15,Roster Position
0,62415-55050,RB,Christian,Christian McCaffrey,McCaffrey,16.380000,5.0,10400,NYJ@CAR,CAR,NYJ,NaN,NaN,NaN,NaN,NaN,RB/FLEX
1,62415-54140,RB,Dalvin,Dalvin Cook,Cook,22.557142,14.0,9400,MIN@CIN,MIN,CIN,NaN,NaN,NaN,NaN,NaN,RB/FLEX
2,62415-39280,RB,Derrick,Derrick Henry,Henry,19.423530,17.0,8900,ARI@TEN,TEN,ARI,NaN,NaN,NaN,NaN,NaN,RB/FLEX
3,62415-57439,QB,Patrick,Patrick Mahomes,Mahomes,24.422223,18.0,8800,CLE@KC,KC,CLE,NaN,NaN,NaN,NaN,NaN,QB
4,62415-45889,WR,Davante,Davante Adams,Adams,20.950001,16.0,8600,GB@NO,GB,NO,NaN,NaN,NaN,NaN,NaN,WR/FLEX
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
807,62415-12546,D,Arizona,Arizona Cardinals,Cardinals,6.937500,16.0,3400,ARI@TEN,ARI,TEN,NaN,NaN,NaN,NaN,NaN,DEF
808,62415-12556,D,Houston,Houston Texans,Texans,3.000000,16.0,3400,JAC@HOU,HOU,JAC,NaN,NaN,NaN,NaN,NaN,DEF
809,62415-12532,D,Detroit,Detroit Lions,Lions,2.187500,16.0,3300,SF@DET,DET,SF,NaN,NaN,NaN,NaN,NaN,DEF
810,62415-12529,D,Cleveland,Cleveland Browns,Browns,6.277778,18.0,3100,CLE@KC,CLE,KC,NaN,NaN,NaN,NaN,NaN,DEF
811,62415-12528,D,Cincinnati,Cincinnati Bengals,Bengals,2.812500,16.0,3000,MIN@CIN,CIN,MIN,NaN,NaN,NaN,NaN,NaN,DEF

In [7]:
#BASE_URL="http://rotoguru1.com/cgi-bin/fyday.pl?game=fd&scsv=1&week=WEEK&year=YEAR"#fanduel
BASE_URL="http://rotoguru1.com/cgi-bin/fyday.pl?game=fd&scsv=1&week=WEEK&year=YEAR"#Draft kings
WEEKS=list(map(str,range(1,18)))
YEARS=list(map(str,range(2017,2020)))

In [8]:
all_games=pd.DataFrame()
for yr in YEARS:
    for wk in WEEKS:
        soup=utils.soup(BASE_URL.replace("WEEK",wk).replace("YEAR",yr))
        all_games=pd.concat([all_games,pd.read_csv(io.StringIO(soup.find("pre").text),sep=";")])
all_games

http://rotoguru1.com/cgi-bin/fyday.pl?game=fd&scsv=1&week=1&year=2019
http://rotoguru1.com/cgi-bin/fyday.pl?game=fd&scsv=1&week=2&year=2019
http://rotoguru1.com/cgi-bin/fyday.pl?game=fd&scsv=1&week=3&year=2019
http://rotoguru1.com/cgi-bin/fyday.pl?game=fd&scsv=1&week=4&year=2019
http://rotoguru1.com/cgi-bin/fyday.pl?game=fd&scsv=1&week=5&year=2019
http://rotoguru1.com/cgi-bin/fyday.pl?game=fd&scsv=1&week=6&year=2019
http://rotoguru1.com/cgi-bin/fyday.pl?game=fd&scsv=1&week=7&year=2019
http://rotoguru1.com/cgi-bin/fyday.pl?game=fd&scsv=1&week=8&year=2019
http://rotoguru1.com/cgi-bin/fyday.pl?game=fd&scsv=1&week=9&year=2019
http://rotoguru1.com/cgi-bin/fyday.pl?game=fd&scsv=1&week=10&year=2019
http://rotoguru1.com/cgi-bin/fyday.pl?game=fd&scsv=1&week=11&year=2019
http://rotoguru1.com/cgi-bin/fyday.pl?game=fd&scsv=1&week=12&year=2019
http://rotoguru1.com/cgi-bin/fyday.pl?game=fd&scsv=1&week=13&year=2019
http://rotoguru1.com/cgi-bin/fyday.pl?game=fd&scsv=1&week=14&year=2019
http://rotoguru1.com/cgi-bin/fyday.pl?game=fd&scsv=1&week=15&year=2019
http://rotoguru1.com/cgi-bin/fyday.pl?game=fd&scsv=1&week=16&year=2019
http://rotoguru1.com/cgi-bin/fyday.pl?game=fd&scsv=1&week=17&year=2019

,Week,Year,GID,Name,Pos,Team,h/a,Oppt,FD points,FD salary
0,1,2017,1254,"Smith, Alex",QB,kan,a,nwe,31.02,6900.0
1,1,2017,1340,"Stafford, Matthew",QB,det,h,ari,28.08,7600.0
2,1,2017,1344,"Bradford, Sam",QB,min,h,nor,25.54,7000.0
3,1,2017,1488,"Siemian, Trevor",QB,den,h,lac,23.66,6700.0
4,1,2017,1514,"Wentz, Carson",QB,phi,a,was,19.88,7100.0
...,...,...,...,...,...,...,...,...,...,...
436,17,2019,7031,Washington,Def,was,a,dal,1.00,3100.0
437,17,2019,7001,Arizona,Def,ari,a,lar,0.00,3400.0
438,17,2019,7020,New York G,Def,nyg,h,phi,0.00,3300.0
439,17,2019,7005,Carolina,Def,car,h,nor,-3.00,3000.0
440,17,2019,7032,Houston,Def,hou,h,ten,-4.00,4100.0

In [9]:
all_games.to_csv('Data/web_scrape.csv', index=False)

In [10]:
test = pd.read_csv('Data/web_scrape.csv')

In [11]:
test

,Week,Year,GID,Name,Pos,Team,h/a,Oppt,FD points,FD salary
0,1,2017,1254,"Smith, Alex",QB,kan,a,nwe,31.02,6900.0
1,1,2017,1340,"Stafford, Matthew",QB,det,h,ari,28.08,7600.0
2,1,2017,1344,"Bradford, Sam",QB,min,h,nor,25.54,7000.0
3,1,2017,1488,"Siemian, Trevor",QB,den,h,lac,23.66,6700.0
4,1,2017,1514,"Wentz, Carson",QB,phi,a,was,19.88,7100.0
...,...,...,...,...,...,...,...,...,...,...
21800,17,2019,7031,Washington,Def,was,a,dal,1.00,3100.0
21801,17,2019,7001,Arizona,Def,ari,a,lar,0.00,3400.0
21802,17,2019,7020,New York G,Def,nyg,h,phi,0.00,3300.0
21803,17,2019,7005,Carolina,Def,car,h,nor,-3.00,3000.0
21804,17,2019,7032,Houston,Def,hou,h,ten,-4.00,4100.0