In [1]:
import pandas as pd
import utils
import io

In [73]:
df = pd.read_csv('Data/FanDuel-NFL-2021 ET-09 ET-12 ET-62415-players-list.csv')

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 812 entries, 0 to 811
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                812 non-null    object
 1   Position          812 non-null    object
 2   First Name        812 non-null    object
 3   Nickname          812 non-null    object
 4   Last Name         812 non-null    object
 5   FPPG              621 non-null    float64
 6   Played            621 non-null    float64
 7   Salary            812 non-null    int64
 8   Game              812 non-null    object
 9   Team              812 non-null    object
 10  Opponent          812 non-null    object
 11  Injury Indicator  136 non-null    object
 12  Injury Details    139 non-null    object
 13  Tier              0 non-null      float64
 14  Unnamed: 14       0 non-null      float64
 15  Unnamed: 15       0 non-null      float64
 16  Roster Position   812 non-null    object
dtypes: float64(5), int64(1), object(11)
memory usage: 108.0+ KB

In [7]:
#BASE_URL="http://rotoguru1.com/cgi-bin/fyday.pl?game=fd&scsv=1&week=WEEK&year=YEAR"#fanduel
BASE_URL="http://rotoguru1.com/cgi-bin/fyday.pl?game=fd&scsv=1&week=WEEK&year=YEAR"#Draft kings
WEEKS=list(map(str,range(1,18)))
YEARS=list(map(str,range(2017,2020)))

In [8]:
all_games=pd.DataFrame()
for yr in YEARS:
    for wk in WEEKS:
        soup=utils.soup(BASE_URL.replace("WEEK",wk).replace("YEAR",yr))
        all_games=pd.concat([all_games,pd.read_csv(io.StringIO(soup.find("pre").text),sep=";")])
all_games

http://rotoguru1.com/cgi-bin/fyday.pl?game=fd&scsv=1&week=1&year=2019
http://rotoguru1.com/cgi-bin/fyday.pl?game=fd&scsv=1&week=2&year=2019
http://rotoguru1.com/cgi-bin/fyday.pl?game=fd&scsv=1&week=3&year=2019
http://rotoguru1.com/cgi-bin/fyday.pl?game=fd&scsv=1&week=4&year=2019
http://rotoguru1.com/cgi-bin/fyday.pl?game=fd&scsv=1&week=5&year=2019
http://rotoguru1.com/cgi-bin/fyday.pl?game=fd&scsv=1&week=6&year=2019
http://rotoguru1.com/cgi-bin/fyday.pl?game=fd&scsv=1&week=7&year=2019
http://rotoguru1.com/cgi-bin/fyday.pl?game=fd&scsv=1&week=8&year=2019
http://rotoguru1.com/cgi-bin/fyday.pl?game=fd&scsv=1&week=9&year=2019
http://rotoguru1.com/cgi-bin/fyday.pl?game=fd&scsv=1&week=10&year=2019
http://rotoguru1.com/cgi-bin/fyday.pl?game=fd&scsv=1&week=11&year=2019
http://rotoguru1.com/cgi-bin/fyday.pl?game=fd&scsv=1&week=12&year=2019
http://rotoguru1.com/cgi-bin/fyday.pl?game=fd&scsv=1&week=13&year=2019
http://rotoguru1.com/cgi-bin/fyday.pl?game=fd&scsv=1&week=14&year=2019
http://rotoguru1.com/cgi-bin/fyday.pl?game=fd&scsv=1&week=15&year=2019
http://rotoguru1.com/cgi-bin/fyday.pl?game=fd&scsv=1&week=16&year=2019
http://rotoguru1.com/cgi-bin/fyday.pl?game=fd&scsv=1&week=17&year=2019

,Week,Year,GID,Name,Pos,Team,h/a,Oppt,FD points,FD salary
0,1,2017,1254,"Smith, Alex",QB,kan,a,nwe,31.02,6900.0
1,1,2017,1340,"Stafford, Matthew",QB,det,h,ari,28.08,7600.0
2,1,2017,1344,"Bradford, Sam",QB,min,h,nor,25.54,7000.0
3,1,2017,1488,"Siemian, Trevor",QB,den,h,lac,23.66,6700.0
4,1,2017,1514,"Wentz, Carson",QB,phi,a,was,19.88,7100.0
...,...,...,...,...,...,...,...,...,...,...
436,17,2019,7031,Washington,Def,was,a,dal,1.00,3100.0
437,17,2019,7001,Arizona,Def,ari,a,lar,0.00,3400.0
438,17,2019,7020,New York G,Def,nyg,h,phi,0.00,3300.0
439,17,2019,7005,Carolina,Def,car,h,nor,-3.00,3000.0
440,17,2019,7032,Houston,Def,hou,h,ten,-4.00,4100.0

In [4]:
historic_data = pd.read_csv('Data/web_scrape.csv')

In [5]:
historic_data

,Week,Year,GID,Name,Pos,Team,h/a,Oppt,FD points,FD salary
0,1,2017,1254,"Smith, Alex",QB,kan,a,nwe,31.02,6900.0
1,1,2017,1340,"Stafford, Matthew",QB,det,h,ari,28.08,7600.0
2,1,2017,1344,"Bradford, Sam",QB,min,h,nor,25.54,7000.0
3,1,2017,1488,"Siemian, Trevor",QB,den,h,lac,23.66,6700.0
4,1,2017,1514,"Wentz, Carson",QB,phi,a,was,19.88,7100.0
...,...,...,...,...,...,...,...,...,...,...
21800,17,2019,7031,Washington,Def,was,a,dal,1.00,3100.0
21801,17,2019,7001,Arizona,Def,ari,a,lar,0.00,3400.0
21802,17,2019,7020,New York G,Def,nyg,h,phi,0.00,3300.0
21803,17,2019,7005,Carolina,Def,car,h,nor,-3.00,3000.0
21804,17,2019,7032,Houston,Def,hou,h,ten,-4.00,4100.0

In [7]:
percentage_data = pd.read_excel('Data/Player_percentages_week1_2021.xlsx')

In [8]:
percentage_data

,Player,Position,Salary,FanDuel Points,Sunday Million,Head-to-Head
0,Patrick Mahomes,QB,8800,33.28,0.1250,0.0685
1,Kyler Murray,QB,8400,34.56,0.1045,0.1243
2,Jalen Hurts,QB,7600,28.76,0.1021,0.0858
3,Josh Allen,QB,8100,17.20,0.0916,0.5101
4,Aaron Rodgers,QB,8000,3.32,0.0781,0.0294
...,...,...,...,...,...,...
206,Pittsburgh Steelers,D,4000,14.00,0.0097,0.0028
207,Philadelphia Eagles,D,3800,10.00,0.0089,0.0023
208,Arizona Cardinals,D,3400,16.00,0.0082,0.0023
209,Indianapolis Colts,D,4100,4.00,0.0068,0.0016
210,New Orleans Saints,D,3700,15.00,0.0041,0.0012

In [76]:
df = df.drop(columns=['Unnamed: 14', 'Unnamed: 15'])

In [77]:
df['Injury Indicator'] = df['Injury Indicator'].fillna(value='Healthy')

In [78]:
df['Injury Indicator'].value_counts()

Healthy    676
Q           72
IR          61
O            3
Name: Injury Indicator, dtype: int64

In [79]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 812 entries, 0 to 811
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                812 non-null    object
 1   Position          812 non-null    object
 2   First Name        812 non-null    object
 3   Nickname          812 non-null    object
 4   Last Name         812 non-null    object
 5   FPPG              621 non-null    float64
 6   Played            621 non-null    float64
 7   Salary            812 non-null    int64
 8   Game              812 non-null    object
 9   Team              812 non-null    object
 10  Opponent          812 non-null    object
 11  Injury Indicator  812 non-null    object
 12  Injury Details    139 non-null    object
 13  Tier              0 non-null      float64
 14  Roster Position   812 non-null    object
dtypes: float64(3), int64(1), object(11)
memory usage: 95.3+ KB

In [80]:
df = df.drop('Tier', axis=1)

In [81]:
df = df.drop('Injury Details', axis=1)

In [82]:
df

,Id,Position,First Name,Nickname,Last Name,FPPG,Played,Salary,Game,Team,Opponent,Injury Indicator,Roster Position
0,62415-55050,RB,Christian,Christian McCaffrey,McCaffrey,16.380000,5.0,10400,NYJ@CAR,CAR,NYJ,Healthy,RB/FLEX
1,62415-54140,RB,Dalvin,Dalvin Cook,Cook,22.557142,14.0,9400,MIN@CIN,MIN,CIN,Healthy,RB/FLEX
2,62415-39280,RB,Derrick,Derrick Henry,Henry,19.423530,17.0,8900,ARI@TEN,TEN,ARI,Healthy,RB/FLEX
3,62415-57439,QB,Patrick,Patrick Mahomes,Mahomes,24.422223,18.0,8800,CLE@KC,KC,CLE,Healthy,QB
4,62415-45889,WR,Davante,Davante Adams,Adams,20.950001,16.0,8600,GB@NO,GB,NO,Healthy,WR/FLEX
...,...,...,...,...,...,...,...,...,...,...,...,...,...
807,62415-12546,D,Arizona,Arizona Cardinals,Cardinals,6.937500,16.0,3400,ARI@TEN,ARI,TEN,Healthy,DEF
808,62415-12556,D,Houston,Houston Texans,Texans,3.000000,16.0,3400,JAC@HOU,HOU,JAC,Healthy,DEF
809,62415-12532,D,Detroit,Detroit Lions,Lions,2.187500,16.0,3300,SF@DET,DET,SF,Healthy,DEF
810,62415-12529,D,Cleveland,Cleveland Browns,Browns,6.277778,18.0,3100,CLE@KC,CLE,KC,Healthy,DEF
811,62415-12528,D,Cincinnati,Cincinnati Bengals,Bengals,2.812500,16.0,3000,MIN@CIN,CIN,MIN,Healthy,DEF

In [83]:
percentage_data

,Nickname,Position,Salary,FanDuel Points,Sunday Million,Head-to-Head
0,Patrick Mahomes,QB,8800,33.28,0.1250,0.0685
1,Kyler Murray,QB,8400,34.56,0.1045,0.1243
2,Jalen Hurts,QB,7600,28.76,0.1021,0.0858
3,Josh Allen,QB,8100,17.20,0.0916,0.5101
4,Aaron Rodgers,QB,8000,3.32,0.0781,0.0294
...,...,...,...,...,...,...
206,Pittsburgh Steelers,D,4000,14.00,0.0097,0.0028
207,Philadelphia Eagles,D,3800,10.00,0.0089,0.0023
208,Arizona Cardinals,D,3400,16.00,0.0082,0.0023
209,Indianapolis Colts,D,4100,4.00,0.0068,0.0016
210,New Orleans Saints,D,3700,15.00,0.0041,0.0012

In [84]:
percentage_data.rename(columns={'Player':'Nickname'}, inplace=True)

In [85]:
percentage_data

,Nickname,Position,Salary,FanDuel Points,Sunday Million,Head-to-Head
0,Patrick Mahomes,QB,8800,33.28,0.1250,0.0685
1,Kyler Murray,QB,8400,34.56,0.1045,0.1243
2,Jalen Hurts,QB,7600,28.76,0.1021,0.0858
3,Josh Allen,QB,8100,17.20,0.0916,0.5101
4,Aaron Rodgers,QB,8000,3.32,0.0781,0.0294
...,...,...,...,...,...,...
206,Pittsburgh Steelers,D,4000,14.00,0.0097,0.0028
207,Philadelphia Eagles,D,3800,10.00,0.0089,0.0023
208,Arizona Cardinals,D,3400,16.00,0.0082,0.0023
209,Indianapolis Colts,D,4100,4.00,0.0068,0.0016
210,New Orleans Saints,D,3700,15.00,0.0041,0.0012

In [86]:
merged_df = df.merge(percentage_data, how='left', on='Nickname')

In [87]:
merged_df

,Id,Position_x,First Name,Nickname,Last Name,FPPG,Played,Salary_x,Game,Team,Opponent,Injury Indicator,Roster Position,Position_y,Salary_y,FanDuel Points,Sunday Million,Head-to-Head
0,62415-55050,RB,Christian,Christian McCaffrey,McCaffrey,16.380000,5.0,10400,NYJ@CAR,CAR,NYJ,Healthy,RB/FLEX,RB,10400.0,23.20,0.1714,0.0872
1,62415-54140,RB,Dalvin,Dalvin Cook,Cook,22.557142,14.0,9400,MIN@CIN,MIN,CIN,Healthy,RB/FLEX,RB,9400.0,17.40,0.2367,0.2307
2,62415-39280,RB,Derrick,Derrick Henry,Henry,19.423530,17.0,8900,ARI@TEN,TEN,ARI,Healthy,RB/FLEX,RB,8900.0,9.20,0.1509,0.0631
3,62415-57439,QB,Patrick,Patrick Mahomes,Mahomes,24.422223,18.0,8800,CLE@KC,KC,CLE,Healthy,QB,QB,8800.0,33.28,0.1250,0.0685
4,62415-45889,WR,Davante,Davante Adams,Adams,20.950001,16.0,8600,GB@NO,GB,NO,Healthy,WR/FLEX,WR,8600.0,8.10,0.2027,0.3931
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
807,62415-12546,D,Arizona,Arizona Cardinals,Cardinals,6.937500,16.0,3400,ARI@TEN,ARI,TEN,Healthy,DEF,D,3400.0,16.00,0.0082,0.0023
808,62415-12556,D,Houston,Houston Texans,Texans,3.000000,16.0,3400,JAC@HOU,HOU,JAC,Healthy,DEF,D,3400.0,7.00,0.0257,0.0146
809,62415-12532,D,Detroit,Detroit Lions,Lions,2.187500,16.0,3300,SF@DET,DET,SF,Healthy,DEF,D,3300.0,1.00,0.0104,0.0053
810,62415-12529,D,Cleveland,Cleveland Browns,Browns,6.277778,18.0,3100,CLE@KC,CLE,KC,Healthy,DEF,D,3100.0,1.00,0.0168,0.0153
811,62415-12528,D,Cincinnati,Cincinnati Bengals,Bengals,2.812500,16.0,3000,MIN@CIN,CIN,MIN,Healthy,DEF,D,3000.0,5.00,0.0424,0.1745

In [88]:
proj_points = pd.read_excel('Data/Team_projected_points.xlsx')

In [89]:
proj_points

   Team  Projected_Points
0   DAL             21.75
1    TB             30.75
2   PHI             22.50
3   ATL             26.00
4   PIT             22.25
5   BUF             28.25
6   MIN             25.25
7   CIN             22.25
8    SF             27.75
9   DET             18.25
10  ARI             25.75
11  TEN             28.25
12  SEA             23.00
13  IND             25.50
14  LAC             22.00
15  WAS             23.50
16  NYJ             20.25
17  CAR             24.75
18  JAC             23.75
19  HOU             21.75
20  CLE             24.50
21   KC             30.00
22  MIA             20.75
23   NE             22.75
24   GB             23.00
25   NO             25.50
26  DEN             21.25
27  NYG             20.25
28  CHI             19.75
29  LAR             26.75
30  BAL             27.50
31   LV             22.50

In [90]:
merged_df = merged_df.merge(proj_points, how='left', on='Team')

In [92]:
merged_df.rename(columns={'Projected_Points':'Team_proj_score'}, inplace=True)

In [93]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 812 entries, 0 to 811
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                812 non-null    object
 1   Position_x        812 non-null    object
 2   First Name        812 non-null    object
 3   Nickname          812 non-null    object
 4   Last Name         812 non-null    object
 5   FPPG              621 non-null    float64
 6   Played            621 non-null    float64
 7   Salary_x          812 non-null    int64
 8   Game              812 non-null    object
 9   Team              812 non-null    object
 10  Opponent          812 non-null    object
 11  Injury Indicator  812 non-null    object
 12  Roster Position   812 non-null    object
 13  Position_y        211 non-null    object
 14  Salary_y          211 non-null    float64
 15  FanDuel Points    202 non-null    float64
 16  Sunday Million    211 non-null    float64
 17  Head-to-Head      211 non-null    float64
 18  Team_proj_score   812 non-null    float64
dtypes: float64(7), int64(1), object(11)
memory usage: 126.9+ KB

In [99]:
merged_df['Team'].value_counts().index

Index(['NYG', 'IND', 'MIA', 'PHI', 'SEA', 'DET', 'CAR', 'MIN', 'NO', 'TEN',
       'PIT', 'ATL', 'KC', 'GB', 'DEN', 'CIN', 'JAC', 'LAC', 'NE', 'SF', 'WAS',
       'BUF', 'CLE', 'HOU', 'ARI', 'NYJ'],
      dtype='object')

In [107]:
merged_df

,Id,Position_x,First Name,Nickname,Last Name,FPPG,Played,Salary_x,Game,Team,Opponent,Injury Indicator,Roster Position,Position_y,Salary_y,FanDuel Points,Sunday Million,Head-to-Head,Team_proj_score
0,62415-55050,RB,Christian,Christian McCaffrey,McCaffrey,16.380000,5.0,10400,NYJ@CAR,CAR,NYJ,Healthy,RB/FLEX,RB,10400.0,23.20,0.1714,0.0872,24.75
1,62415-54140,RB,Dalvin,Dalvin Cook,Cook,22.557142,14.0,9400,MIN@CIN,MIN,CIN,Healthy,RB/FLEX,RB,9400.0,17.40,0.2367,0.2307,25.25
2,62415-39280,RB,Derrick,Derrick Henry,Henry,19.423530,17.0,8900,ARI@TEN,TEN,ARI,Healthy,RB/FLEX,RB,8900.0,9.20,0.1509,0.0631,28.25
3,62415-57439,QB,Patrick,Patrick Mahomes,Mahomes,24.422223,18.0,8800,CLE@KC,KC,CLE,Healthy,QB,QB,8800.0,33.28,0.1250,0.0685,30.00
4,62415-45889,WR,Davante,Davante Adams,Adams,20.950001,16.0,8600,GB@NO,GB,NO,Healthy,WR/FLEX,WR,8600.0,8.10,0.2027,0.3931,23.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
807,62415-12546,D,Arizona,Arizona Cardinals,Cardinals,6.937500,16.0,3400,ARI@TEN,ARI,TEN,Healthy,DEF,D,3400.0,16.00,0.0082,0.0023,25.75
808,62415-12556,D,Houston,Houston Texans,Texans,3.000000,16.0,3400,JAC@HOU,HOU,JAC,Healthy,DEF,D,3400.0,7.00,0.0257,0.0146,21.75
809,62415-12532,D,Detroit,Detroit Lions,Lions,2.187500,16.0,3300,SF@DET,DET,SF,Healthy,DEF,D,3300.0,1.00,0.0104,0.0053,18.25
810,62415-12529,D,Cleveland,Cleveland Browns,Browns,6.277778,18.0,3100,CLE@KC,CLE,KC,Healthy,DEF,D,3100.0,1.00,0.0168,0.0153,24.50
811,62415-12528,D,Cincinnati,Cincinnati Bengals,Bengals,2.812500,16.0,3000,MIN@CIN,CIN,MIN,Healthy,DEF,D,3000.0,5.00,0.0424,0.1745,22.25

In [115]:
test = pd.read_csv('Data/Historic_Stats/2017_1.csv')

In [118]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1133 entries, 0 to 1132
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Rank                  1133 non-null   int64
 1   Name                  1133 non-null   object
 2   Team                  1133 non-null   object
 3   Position              1133 non-null   object
 4   Week                  1133 non-null   int64
 5   Opponent              1133 non-null   object
 6   PassingYards          1133 non-null   int64
 7   PassingTouchdowns     1133 non-null   int64
 8   PassingInterceptions  1133 non-null   int64
 9   RushingYards          1133 non-null   int64
 10  RushingTouchdowns     1133 non-null   int64
 11  Receptions            1133 non-null   int64
 12  ReceivingYards        1133 non-null   int64
 13  ReceivingTouchdowns   1133 non-null   int64
 14  Sacks                 1133 non-null   float64
 15  Interceptions         1133 non-null   int64
 16  FumblesForced         1133 non-null   int64
 17  FumblesRecovered      1133 non-null   int64
 18  FantasyPointsPerGame  1133 non-null   float64
 19  FantasyPoints         1133 non-null   float64
dtypes: float64(3), int64(13), object(4)
memory usage: 177.2+ KB

In [125]:
historic_stats = test[['Name', 'Team', 'Position', 'Week', 'Opponent', 'FantasyPointsPerGame', 'FantasyPoints']]

In [126]:
historic_stats

,Name,Team,Position,Week,Opponent,FantasyPointsPerGame,FantasyPoints
0,Kareem Hunt,KC,RB,1,NE,40.6,40.60
1,Alex Smith,KC,QB,1,NE,31.0,31.02
2,Jacksonville Jaguars,JAX,DST,1,HOU,28.0,28.00
3,Los Angeles Rams,LAR,DST,1,IND,28.0,28.00
4,Matthew Stafford,DET,QB,1,ARI,27.1,27.08
...,...,...,...,...,...,...,...
1128,Tavon Austin,LAR,WR,1,IND,-0.2,-0.20
1129,Sean Mannion,LAR,QB,1,IND,-0.2,-0.22
1130,Jamison Crowder,WAS,WR,1,PHI,-0.6,-0.60
1131,Tom Savage,HOU,QB,1,JAX,-1.5,-1.52
1132,Andy Dalton,CIN,QB,1,BAL,-3.0,-3.00

In [133]:
historic_stats.rename(columns={'FantasyPointsPerGame':'FPPPG', 'FantasyPoints':'Points_Scored'}, inplace=True)

/Users/kevinmcdonough/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/pandas/core/frame.py:4125: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [141]:
historic_proj = pd.read_csv('Data/Historic_proj/2017_1.csv')

In [142]:
historic_proj = historic_proj[['Name', 'Week', 'UpcomingOpponentPositionRank', 'FantasyPointsFanDuel', 'OperatorSalary']]

In [143]:
historic_proj.rename(columns={'UpcomingOpponentPositionRank':'OPRNK', 'FantasyPointsFanDuel': 'Projected', 'OperatorSalary': 'Salary'}, inplace=True)

In [144]:
historic_proj

                     Name  Week  OPRNK  Projected  Salary
0           David Johnson     1    8.0      20.86    9400
1            Le'Veon Bell     1   31.0      21.31    9300
2           Antonio Brown     1   25.0      17.17    9100
3             Julio Jones     1   27.0      15.88    9000
4               Tom Brady     1   10.0      20.06    8900
..                    ...   ...    ...        ...     ...
934  Jacksonville Jaguars     1    NaN       6.40    4100
935    New Orleans Saints     1    NaN       5.20    4100
936   San Francisco 49ers     1    NaN       5.50    4000
937         New York Jets     1    NaN       4.60    4000
938      Cleveland Browns     1    NaN       3.70    4000

[939 rows x 5 columns]

In [150]:
historic_stats.merge(historic_proj, how='inner', on=['Name', 'Week'])

,Name,Team,Position,Week,Opponent,FPPPG,Points_Scored,OPRNK,Projected,Salary
0,Kareem Hunt,KC,RB,1,NE,40.6,40.60,3.0,10.73,6400
1,Alex Smith,KC,QB,1,NE,31.0,31.02,11.0,14.69,6900
2,Jacksonville Jaguars,JAX,DST,1,HOU,28.0,28.00,NaN,6.40,4100
3,Los Angeles Rams,LAR,DST,1,IND,28.0,28.00,NaN,7.90,4600
4,Matthew Stafford,DET,QB,1,ARI,27.1,27.08,12.0,16.13,7600
...,...,...,...,...,...,...,...,...,...,...
426,Tavon Austin,LAR,WR,1,IND,-0.2,-0.20,12.0,6.74,4900
427,Sean Mannion,LAR,QB,1,IND,-0.2,-0.22,24.0,0.18,6000
428,Jamison Crowder,WAS,WR,1,PHI,-0.6,-0.60,30.0,10.16,6500
429,Tom Savage,HOU,QB,1,JAX,-1.5,-1.52,8.0,10.86,6500
430,Andy Dalton,CIN,QB,1,BAL,-3.0,-3.00,9.0,16.99,7400

Adding Season FPPG

In [167]:
historic_stats_3 = pd.read_csv('Data/Historic_Stats/2017_2.csv')

In [168]:
historic_stats_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1201 entries, 0 to 1200
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Rank                         1201 non-null   int64
 1   Name                         1201 non-null   object
 2   Team                         1201 non-null   object
 3   Position                     1201 non-null   object
 4   Week                         1201 non-null   int64
 5   Opponent                     1201 non-null   object
 6   PassingYards                 1201 non-null   int64
 7   PassingTouchdowns            1201 non-null   int64
 8   PassingInterceptions         1201 non-null   int64
 9   RushingYards                 1201 non-null   int64
 10  RushingTouchdowns            1201 non-null   int64
 11  Receptions                   1201 non-null   int64
 12  ReceivingYards               1201 non-null   int64
 13  ReceivingTouchdowns          1201 non-null   int64
 14  Sacks                        1201 non-null   float64
 15  Interceptions                1201 non-null   int64
 16  FumblesForced                1201 non-null   int64
 17  FumblesRecovered             1201 non-null   int64
 18  FantasyPointsPerGameFanDuel  1201 non-null   float64
 19  FantasyPointsFanDuel         1201 non-null   float64
dtypes: float64(3), int64(13), object(4)
memory usage: 187.8+ KB